form{
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

label{
  color: #303030;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 15px;
}

input{
  border-radius: 6px;
  border: 0px;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.277);
  padding: 10px;
  margin-top: 5px;
}

button
{
  border-radius: 9px;
  border: 2px solid #fafafa00;
  padding: 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.277);
  background-color: rgb(255, 102, 0);
  color: #FAFAFA;
  font-weight: 600;
  transition: background-color .4s ease, color .4s ease, border .4s ease;
  margin-top: 15px;
}

button:hover{
  color: rgb(255, 102, 0);
  background-color: #FAFAFA;
  border: 2px solid rgb(255, 102, 0);
  cursor: pointer;
}


input.ng-invalid,
textarea.ng-invalid {
  border: 1px solid red;
}

/* Estilo adicional para el texto de la etiqueta de campo */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo para resaltar el mensaje de error */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
