<div class="card">
  <form class="contact-form" [formGroup]="formData" (submit)="enviarFormulario()">
    <label for="nombre">Nombre:</label>
    <input [class.ng-invalid]="formSubmitted && formData.get('nombre')?.invalid" type="text"
      formControlName="nombre" id="nombre" name="nombre" placeholder="Carlos Martinez" required>
    <div *ngIf="formSubmitted && formData.get('nombre')?.invalid" class="error-message">
      Por favor, ingrese un nombre válido.
    </div>

    <label for="email">Correo Electrónico:</label>
    <input class="contact-input" [class.ng-invalid]="formSubmitted && formData.get('email')?.invalid" type="email"
      formControlName="email" id="email" name="email" placeholder="carlos@email.com" required>
    <div *ngIf="formSubmitted && formData.get('email')?.invalid" class="error-message">
      Por favor, ingrese un correo electrónico válido.
    </div>

    <label for="password">Password:</label>
    <input class="contact-input" [class.ng-invalid]="formSubmitted && formData.get('password')?.invalid" type="text"
      formControlName="password" id="password" name="password" required>
    <div *ngIf="formSubmitted && formData.get('password')?.invalid" class="error-message">
      Por favor, ingrese un correo electrónico válido.
    </div>

    <button type="submit">Cargar Datos</button>
  </form>



</div>
